@font-face {
    font-family: "Gotham";
    src: url(./assets/fonts/Fonte/Gotham\ Light\ Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Gotham";
    src: url(./assets/fonts/Fonte/Gotham\ Light\ Regular.otf);
    font-weight: lighter;
}

@font-face {
    font-family: "Gotham Book";
    src: url(./assets/fonts/Fonte/Gotham-Book.otf);
}

@font-face {
    font-family: "Gotham";
    src: url(./assets/fonts/Fonte/Gotham-Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: "Gotham";
    src: url(./assets/fonts/Fonte/Gotham-BlackIta.otf);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url(./assets/fonts/Fonte/Gotham-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Gotham";
    src: url(./assets/fonts/Fonte/Gotham-BoldIta.otf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url(./assets/fonts/Fonte/Gotham\ Medium.otf);
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 0 0 8px 0;
    background-color: #fff;
}

.header-inner {
    width: 100%;
    background: rgb(9, 9, 121);
    background: linear-gradient(135deg,
            #009cda 0%,
            #009cda 74%,
            rgba(255, 255, 255, 1) 74%,
            rgba(255, 255, 255, 1) 100%);
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.header-content {
    width: 55%;
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
    color: #fff;
}

.header-link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-family: "Gotham", sans-serif;
}

.bg-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(./assets/img/bg-logo.webp);
    background-position: center top 14vh;
    background-size: 100%;
}

.hero {
    padding-top: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./assets/img/timesquare.webp);
    background-size: 100% 150%;
    background-position: center top;
}

.hero-content {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.hero-texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    padding-left: 3vw;
    text-transform: uppercase;
    font-size: 20pt;
    font-family: "Gotham";
    font-weight: 700;
    color: #fff;
}

.title-destaque {
    background-color: #009bdb;
    padding: 0 2px;
}

.slogan {
    width: 100%;
    margin-top: 16px;
    margin-left: -0.5vw;
}

.hero-text {
    padding-left: 3vw;
    margin-top: 24px;
    color: #fff;
    font-family: "Gotham Book";
    font-size: 14pt;
    line-height: 14pt;
}

.quero {
    margin-top: 8vh;
    width: 150%;
    margin-left: 3vw;
    text-decoration: none;
    font-size: 24pt;
    text-transform: uppercase;
    color: #fff;
    font-family: "Gotham";
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 1vw 2vw;
    border: 2px solid #fff;
    margin-bottom: 8vh;
}

.hero-img {
    width: 48%;
}

.inscricao {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(./assets/img/bg-form.webp);
    background-position: center top;
}

.inscricao-header {
    background: rgb(13, 22, 59);
    background: linear-gradient(45deg,
            rgba(13, 22, 59, 0) 0%,
            rgba(4, 128, 186, 0) 35%,
            rgba(0, 155, 219, 1) 35%,
            rgba(0, 155, 219, 1) 100%);
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 10;
}

.inscricao-header-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 36px 3vw 24px;
}

.inscricao-title {
    width: 40%;
    font-family: "Gotham";
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-size: 25pt;
    line-height: 25pt;
}

.inscricao-text {
    width: 40%;
    font-family: "Gotham";
    font-weight: normal;
    color: #fff;
    font-size: 14pt;
    line-height: 14pt;
}

.inscricao-title-destaque {
    font-size: 34pt;
}

.inscricao-body {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    margin-top: -28vh;
    z-index: 11;
}

.inscricao-body-content {
    width: 55%;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
}

.inscricao-foto {
    width: 45%;
}

.inscricao-dados {
    padding-top: 24vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inscricao-dados-text-bold {
    width: 100%;
    font-family: "Gotham";
    font-weight: 600;
    color: #fff;
    font-size: 22pt;
    line-height: 24pt;
}

.inscricao-dados-text {
    margin-top: -10px;
    font-family: "Gotham";
    font-weight: normal;
    color: #fff;
    font-size: 15pt;
    line-height: 15pt;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.form-input {
    width: 100%;
    padding: 8px;
    height: 38px;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Gotham";
    font-weight: normal;
    font-size: 10pt;
}

.form-input::placeholder {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Gotham";
    font-weight: normal;
    font-size: 10pt;
}

.form-enviar {
    width: 40%;
    background-color: #009bdb;
    color: #fff;
    border: none;
    outline: none;
    height: 38px;
    font-family: "Gotham";
    font-weight: 600;
    font-size: 12pt;
    text-transform: uppercase;
}

.motivos {
    background-color: #fff;
    display: flex;
}

.motivos-img {
    width: 35vw;
}

.motivos-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    padding: 36px 3vw;
}

.motivos-title {
    font-family: "Gotham";
    font-weight: 700;
    color: #00b5ff;
    font-size: 31pt;
    text-transform: uppercase;
    margin-bottom: 3vh;
}

.motivos-text {
    font-family: "Gotham";
    font-weight: normal;
    color: #000c3c;
    font-size: 13pt;
    line-height: 14pt;
    padding-left: 2vw;
    margin-bottom: 8pt;
}

.division {
    display: flex;
    justify-content: center;
}

.division-content {
    width: 55%;
    padding: 12vh 3vw;
    display: flex;
    justify-content: center;
}

.division-inscreva {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Gotham";
    font-weight: 700;
    font-size: 30pt;
    color: #fff;
    border: 2px solid #fff;
    padding: 1vw 2vw;
}

.sobre {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-header {
    width: 100%;
    background: rgb(9, 9, 121);
    background: linear-gradient(135deg,
            #0b133c 0%,
            #0b133c 76%,
            rgba(255, 255, 255, 1) 76%,
            rgba(255, 255, 255, 1) 100%);
    display: flex;
    justify-content: center;
}

.sobre-header-content {
    width: 55%;
    padding: 24px 3vw;
}

.sobre-header-title {
    color: #fff;
    font-size: 30pt;
    text-transform: uppercase;
    font-family: "Gotham";
    font-weight: 700;
    padding-left: 2vw;
}

.sobre-nome {
    color: #fff;
    font-size: 18pt;
    text-transform: uppercase;
    font-family: "Gotham";
    font-weight: 600;
}

.sobre-header-text {
    color: #fff;
    font-size: 14pt;
    font-family: "Gotham";
    font-weight: normal;
    line-height: 0;
    padding-left: 2vw;
}

.sobre-content {
    width: 55%;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-vid1 {
    width: 100%;
    height: calc(60vw * 0.45);
}

.sobre-text {
    width: 100%;
    color: #0f1f41;
    font-size: 16pt;
    font-family: "Gotham";
    font-weight: 700;
    margin-bottom: 48px;
    padding-left: 2vw;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./assets/img/book-glow.webp);
    background-position: left 20vw top 0vh;
    background-repeat: no-repeat;
    background-size: 30vw;
}

.conteudo-content {
    width: 55%;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-title {
    width: 100%;
    margin-top: 6vh;
    padding-left: 2vw;
    color: #fff;
    font-size: 28pt;
    line-height: 32pt;
    font-family: "Gotham";
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.conteudo-legenda {
    width: 100%;
    color: #fff;
    font-size: 14pt;
    line-height: 14pt;
    font-family: "Gotham";
    font-weight: normal;
    padding-left: 2vw;
    margin-top: 0vh;
}

.conteudo-vid {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    height: calc(60vw * 0.45);
}

.conteudo-topicos {
    width: 100%;
    padding-left: 2vw;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.conteudo-logo {
    width: 25%;
}

.conteudo-lista {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.conteudo-item {
    width: 100%;
    display: flex;
    column-gap: 8px;
    align-items: baseline;
}

.conteudo-item-text {
    line-height: 0;
    color: #fff;
    font-family: "Gotham";
    font-weight: 600;
    font-size: 14pt;
}

.conteudo-inscreva {
    width: 70%;
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 12vh;
}

.chamada {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.chamada-faixa {
    width: 100%;
    height: 48px;
    background: rgb(0, 155, 219);
    background: linear-gradient(135deg,
            #009bdb 0%,
            #009bdb 73%,
            rgba(255, 255, 255, 1) 73%,
            rgba(255, 255, 255, 1) 100%);
}

.chamada-content {
    width: 55%;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 12;
    margin-top: -15vh;
}

.chamada-foto {
    width: 47%;
}

.chamada-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chamada-title {
    color: #009bdb;
    font-family: "Gotham";
    font-weight: 700;
    font-size: 26pt;
    text-transform: uppercase;
    margin-top: 26vh;
}

.chamada-text {
    color: #000;
    font-family: "Gotham";
    font-weight: 600;
    font-size: 11pt;
    margin-bottom: 10vh;
}

.chamada-destaque {
    color: #009bdb;
    font-weight: 600;
}

.provas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/img/bg-social.webp);
}

.provas-faixa {
    width: 100%;
    height: 38px;
    background: rgb(255, 255, 255);
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 28%,
            rgba(0, 155, 219, 1) 28%,
            rgba(0, 155, 219, 1) 100%);
}

.carrosel {
    width: 60%;
    padding: 0 0vw;
    margin-bottom: 6vh;
}

.provas-title {
    width: 55%;
    padding: 0 5vw;
    color: #fff;
    font-family: "Gotham";
    font-weight: 700;
    font-size: 26pt;
    text-transform: uppercase;
    margin-top: 8vh;
}

.provas-text {
    width: 55%;
    padding: 0 5vw;
    color: #fff;
    font-family: "Gotham";
    font-weight: 600;
    font-size: 11pt;
    margin-bottom: 6vh;
}

.carousel-item {
    padding: 0 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrosel-content {
    display: flex;
    justify-content: space-between;
}

.item-depo {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balao {
    width: 100%;
    background-image: url(./assets/img/balao.webp);
    background-size: 100% 100%;
    height: 81vh;
    min-height: 81vh;
    max-height: 81vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 10vh;
}

.balao-text {
    width: 90%;
    text-align: center;
    font-family: "Gotham";
    font-weight: normal;
}

.nome {
    width: 80%;
    line-height: 0;
    margin-bottom: 8px;
    text-align: center;
    font-family: "Gotham";
    font-weight: 600;
}

.foto-depo {
    width: 55%;
    margin-top: -12vh;
}

.sm-txt {
    padding-top: 10vh;
}

.faq {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.faq-faixa {
    width: 100%;
    height: 48px;
    background: rgb(0, 155, 219);
    background: linear-gradient(135deg,
            #009bdb 0%,
            #009bdb 73%,
            rgba(255, 255, 255, 1) 73%,
            rgba(255, 255, 255, 1) 100%);
}

.faq-content {
    width: 55%;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
}

.faq-title {
    color: #009bdb;
    font-family: "Gotham";
    font-weight: 700;
    font-size: 26pt;
    text-transform: uppercase;
    margin-top: 10vh;
}

.faq-text {
    color: #000;
    font-family: "Gotham";
    font-weight: 600;
    font-size: 11pt;
    margin-bottom: 10vh;
}
.preco{
    width:100%;
    display: flex;
    justify-content: center;
    background-color: #009bdb;
    
}
.preco-content{
    width: 55%;
    padding: 10vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preco-title{
      color: #fff;
    font-family: "Gotham";
    font-weight: 700;
    font-size: 26pt;
    text-transform: uppercase;
    text-align: center;
}
.preco-valor{
    padding: 2vh 1vw;
    text-align: center;
    background-color: #fff;
      color: #009bdb;
    font-family: "Gotham";
    font-weight: normal;
    font-size: 22pt;
}
.preco-destaque{
    font-weight: 700;
}
.preco-linha{
    text-decoration: line-through;
}
.preco-fim{
    width:max-content;
    text-align: center;
      padding: 2vh 1vw;
    background-color: #000c3c;
      color: #fff;
    font-family: "Gotham";
    font-weight: 700;
    font-size: 22pt;
    text-transform: uppercase;
}


.infos {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./assets/img/geral.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.infos-content {
    width: 55%;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
}

.infos-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.infos-header-left {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.infos-header-right {
    width: 20%;
    display: flex;
}

.data {
    width: 100%;
}

.infos-title {
    font-family: "Gotham";
    font-weight: 700;
    font-size: 36pt;
    color: #fff;
    width: 100%;
}

.destaque {
    margin-top: 20px;
    font-family: "Gotham";
    font-weight: 700;
    font-size: 20pt;
    color: #fff;
    width: 100%;
}

.info-item {
    display: flex;
    flex-direction: column;
    width: 38%;
}

.itm1 {
    width: 60%;
}

.infos-topic {
    font-family: "Gotham";
    font-weight: 600;
    font-size: 14pt;
    line-height: 4pt;
    margin-bottom: 4px;
    color: #fff;
}

.infos-text {
    font-family: "Gotham";
    font-weight: normal;
    font-size: 18pt;
    line-height: 18pt;

    color: #fff;
}

.fim {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 12;
    margin-top: -12vh;
}

.fim-conteudo {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.fim-conteudo-title {
    color: #009bdb;
    font-family: "Gotham";
    font-weight: 700;
    font-size: 26pt;
    text-transform: uppercase;
}

.fim-inscreva {
    margin-left: -3vw;
    width: 180%;
    font-size: 22pt;
    padding-left: 3vw;
    margin-top: 8px;
    margin-bottom: 12px;
}

.fim-text {
    font-family: "Gotham";
    font-weight: normal;
    font-size: 18pt;
    line-height: 18pt;
    color: #fff;
}

.fim-slogan {
    width: 100%;
    margin-left: -3.5vw;
    margin-top: -1vh;
}

.fim-foto {
    width: 57%;
}

.fim-miuda {
    font-family: "Gotham";
    font-weight: normal;
    font-size: 11pt;
    line-height: 11pt;
    color: #fff;
    margin-bottom: 8vh;
}

.omobile {
    display: none;
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .hero {
        background-size: 155% 100%;
    }

    .hero-content {
        width: 90%;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-img {
        width: 100%;
    }

    .hero-texts {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-title, .hero-text {
        width: 100%;
        text-align: center;
    }

    .quero {
        width: 100%;
        margin-left: 0;
        font-size: 18pt;
        margin-top: 3vh;

    }

    .inscricao {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 260% 100%;
    }

    .inscricao-header {
        background-color: #009bdb;
    }

    .inscricao-title, .inscricao-text {
        width: 100%;
        text-align: center;
    }

    .inscricao-header-content {
        width: 90%;
    }

    .inscricao-body {
        margin-top: -3vh;
    }

    .inscricao-body-content {
        width: 90%;
        flex-direction: column-reverse;
    }

    .inscricao-foto {
        width: 100%;
    }

    .inscricao-dados {
        width: 100%;
        padding-top: 10vh;
    }

    .motivos-img {
        display: none;
    }

    .motivos-content, .division-content {
        width: 100%;
    }

    .division {
        background-image: url(./assets/img/bg-hero.webp);
        background-position: center center;
        background-size: 151% 150%;
        background-repeat: no-repeat;

    }

    .division-content {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .division-inscreva {
        width: 100%;
        margin-left: 0;
        font-size: 18pt;
        margin-top: 3vh;
        text-align: center;
    }

    .sobre-header {
        background: #0b133c;
    }

    .sobre-header-content {
        width: 90%;
    }

    .sobre-content {
        width: 100%;
        padding: 0 0;
    }

    .omobile {
        display: block;
    }

    .sobre-header-title {
        text-align: center;
        font-size: 25pt;
    }

    .sobre-header-text {
        width: 100%;
        line-height: 14pt;
        text-align: center;
        padding-left: 0;
    }

    .sobre-text {
        margin-left: 0;
        margin-bottom: 5vh;
        margin-top: 3vh;
        font-size: 13pt;
        text-align: center;
    }

    .sobre-vid1 ,.conteudo-vid{
        width: 100%;
        height: calc(100vw* 0.45);
    }
.conteudo{
    background-size: 100vw;
    background-position: center top 10vh;
}
    .conteudo-content {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .conteudo-title {
        text-align: center;
    }

    .conteudo-logo {
        display: none;
    }

    .conteudo-lista {
        width: 90%;
        margin: 0 auto;
         margin-top:30vh;
    }

    .conteudo-item-text {
       
        font-size: 11pt;
    }
    .conteudo-legenda {
        width:90%;
        margin: 10px auto;
    }
    .conteudo-inscreva{
        width:90%;
        margin: 10px auto 80px auto;
    }
    .chamada-content{
        width:90%;
        flex-direction: column;
    }
    .chamada-foto{
        width:100%;
    }
    .chamada-conteudo{
        width:100%;
        margin-top: 0;
        justify-content: start;
    }
    .chamada-title{
        margin-top: 0;
        text-align: center;
        font-size: 24pt;
    }
    .chamada-text{
        text-align: center;
    }
    .provas-title,.provas-text{
        width:90%;
    }
    .nomobile{
        display: none;
    }
    .carrosel {
        width:100%;
    }
    .carrosel-content {
justify-content: center;
    }
    .item-depo{
        width: 80%;
    }
    .balao{
        max-height: 86vh;
        min-height: 86vh;
    }
    .infos-content{
        width:90%;
    }
    .data {
        height: 20vh;
    }
    .info-item,.itm1{
        width: 100%;
        margin-top: 16px;
    }
    .fim{
        flex-direction: column-reverse;
        margin-top: -5vh;
    }
    .fim-foto{
        width: 100%;
    }
    .fim-conteudo{
        width: 100%;
        
    }
    .preco-content{
        width:90%;
    }
    .preco-fim{
        font-size: 15pt;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1400px) {
    .conteudo-lista {
        width: 65%;
    }

    .conteudo-inscreva {
        width: 77%;
    }

    .provas-title {
        width: 57%;
    }

    .chamada-title {
        margin-top: 18vh;
    }

    .fim {
        margin-top: 2vh;
    }

    .chamada-text {
        margin-bottom: 6vh;
    }
}

.quero:hover, .quero:visited, .division-inscreva:hover, .division-inscreva:visited {
    color: #fff;
    text-decoration: none;
}